.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.container>div{
  position: relative;
}
.label{
  padding-right: 1em;
}

.input {
  border: var(--color-smooth, grey) solid .15rem;
  margin: 0;
  border-radius: .2rem;
  outline: none;
  padding: .7em 1em;
}
.input:has(+ img){
  padding-left: 3em;
}
.img {
  position: absolute;
  top: .6em;
  left: .8em;
  height: 1.2em;
  width: 1.2em;
}

.input[type="range"] {
  box-sizing: border-box;
  padding: 0 3em 0 1em;
  appearance: none;
  background: transparent;
  cursor: pointer;
  border: none;
  width: 15em;
}
.input[type="range"]::-webkit-slider-runnable-track {
  background: var(--color-smooth,grey);
  box-shadow: inset calc(var(--width-track)*10/100) 0  var(--color-accent,blueviolet);
  border-radius: 2rem;
  height: 0.5rem;
}
.input[type="range"]::-moz-range-track{
  background: var(--color-smooth,grey);
  border-radius: 2rem;
  height: .5rem;
}
.input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -.25em; 
  background-color: var(--color-accent,blueviolet);
  border-radius: 50%;
  height: 1.2em;
  width: 1.2em;    
}
.input[type="range"]::-moz-range-thumb {
  border: none; 
  border-radius: 50%; 
  background-color: var(--color-accent,blueviolet);
  height: 1.2em;
  width: 1.2em;
}
.min, .max{
  position: absolute;
  top: .1em;
}
.max{
  right: 0;
}
.chip{
  display: none;
  justify-content: center;
  background-color: var(--color-accent,blueviolet);
  color: var(--color-background,white);
  border-radius: .2rem;
  width: 2rem;
  position: absolute;
  top: -2rem;
  left: calc(var(--width-track)*8.5/100);
}
.chip::after{
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-right: .5rem solid transparent;
  border-left: .5rem solid transparent;
  border-top: .5rem solid var(--color-accent,blueviolet);
  top: 1.3rem;
  
}
.input[type="range"]:hover ~ .chip {
  display: flex;
}