.button {
  cursor: pointer;
  padding: 1em 2em;
  border: none;
  outline: none;
  background-color: var(--color-accent, blueviolet);
  color: var(--color-background, white);
  display: flex;
  border-radius: .2rem;
  transition: transform .2s ease;
}
.button img{
  padding-right: .5rem;
}
.button:active{
  transform: scale(.9);
}
.disabled{
  pointer-events: none;
  opacity: .5;
}