.form{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: .15em solid var(--color-smooth,grey);
  padding: 1em;
}
.inputs{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
  width: 100%;
  gap: 1em;
  margin-bottom: 2em;
  justify-content: space-between;
}
.buttons{
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
}
@media screen and (max-width:500px){
  .inputs{
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    justify-content: center;
  }
}